@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Rubik+Dirt&display=swap');

main,
section,
.page-content {
    padding-top: 140px;
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  width: 100%;
  min-height: 100vh;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-weight: 400;
  background-image: radial-gradient(circle at top left, #34384a, #0b092a);
  background-attachment: fixed;
}


#root{
  font-family: 'Questrial', sans-serif;
  width: 100%; 
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


.report-dropdown {
    display: flex;
    width: 25%;
    margin: 1rem;
}

.report-dropdown select {
  width: 100%; 
  padding: 0.5rem;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 0.5rem;
}

.dropdown-label {
    color: white;
}

.all-reports {
  display: flex;
  text-decoration: none;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start; 
  width: 100%;
  height: 100%;

}

.all-reports a {
  text-decoration: none;
  color: inherit;
  width: 100%;
  display: flex
}

.report {
  display: flex;
  justify-content: space-between;
  background-image: radial-gradient(circle, #e5e6ea, #a09af6);
  color: rgb(3, 3, 56);
  text-decoration: none;
  border-radius: 0.5rem;
  padding: 10px;
  width: 100%;
  text-align: left;
  border: 1px solid;
  margin: 1rem;
  align-items: flex-start;
  box-shadow: 2px 4px 10px hsla(0, 0%, 0%, 0.3),
    2px 4px 20px hsla(0, 0%, 0%, 0.2);
}

.report:hover{
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
}

.report * {
  text-decoration: none;
}

.report a {
  text-decoration: none;
}

.report-title {
  font-weight: bold;
  font-size: large;
  text-decoration: none;
  margin: 5px;
}

.report-subtitle {
  display: flex;
  margin: 5px;
  text-decoration: none;
}

.report-left-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}



.report-right-column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
 
}

.report-btn {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.report-link {
  display: flex;
  font-size: large;
  align-self: flex-end;
  font-weight: bold;
  margin: 5px;
  text-decoration: none;
}

.report-link:hover{
    text-shadow: 1px 1px 2px rgb(255, 255, 255);

}

.report-details {
  display: flex;
  flex-direction: column;
  background-image: radial-gradient(circle, #e5e6ea, #a09af6);
  color: rgb(3, 3, 56);
  font-size: large;
  text-decoration: none;
  border-radius: 0.5rem;
  padding: 10px;
  width: 90%;
  text-align: left;
  border: 1px solid;
  margin: 1rem; 
  box-shadow: 2px 4px 10px hsla(0, 0%, 0%, 0.3),
    2px 4px 20px hsla(0, 0%, 0%, 0.2);

}

.btn-primary {
  font-family: 'Questrial', sans-serif;
  margin: 10px;
  padding: 10px;
  width: 70px;
  align-self: flex-end;
  text-decoration: none;
  border-radius: 0.5rem;

}

.btn-primary:hover {
  background-color: #adb6da;

}

.btn-primary:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}


.container {
  margin: 100px;
  padding: 50px;
  background-image: radial-gradient(circle, #e5e6ea, #a09af6);
}



.app-heading {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  .app-title {
    color: white;
    font-size: 3rem;
  }

  .app-heading-circle {
  background: white;
  width: 17rem;
  height: 17rem;
  margin: 1rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 4rem;
  box-shadow: 2px 4px 10px hsla(0, 0%, 0%, 0.3),
    2px 4px 20px hsla(0, 0%, 0%, 0.2);

  .app-logo {
    width: 10rem;
    filter: drop-shadow(1px 1px 11px var(--col-0));
  }
  }
}

   /* #parchment {
  position: absolute;
  display: flex;
    width: 75%;
  min-height: calc((1vw + 1vh) * 75);

  top: 0%; left: 50%; transform: translate(-50%, 0);
  margin: 2em 0;
    padding: 4em;
    box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
    background: #fffef0;
  filter: url(#wavy2);
}


 */
