form {
  border: 1px solid var(--outline);
  border-radius: 10px;
  padding: 1rem 0rem 0rem 1rem;
  box-shadow: 1px 2px 5px lightgray;
  /* Removed margin: 200px */
}

fieldset {
  min-width: 0;
  padding-bottom: 1.5rem;
  margin: 0;
  border: 0;
}

.label-input {
  margin: 10px;
}

.form-heading {
  font-size: x-large;
}

.form-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.form-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-46%, -47%);
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.75);
    /* padding: 4rem; */
    width: 40%; /* Use viewport width for responsive sizing */
    max-height: 80%; /* Limit height */
    border-radius: 8px;
    overflow-y: auto;
    margin: 0; /* Remove margin */
}

.form-control {
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border: 1px solid var(--outline);
  border-radius: 0.25rem;
  width: 100%; /* Make inputs full width */
}

.form-body {
  height: calc(7.5em + 0.75rem + 2px);
  padding: 0.175rem 0.55rem;
  font-size: 1rem;
  border: 1px solid var(--outline);
  border-radius: 0.25rem;
  text-wrap: wrap;
  resize: vertical; 
  font-family: inherit;
  width: 100%; /* Make textarea full width */
}

.form-group {
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
}

.form-btn {
  align-self: flex-end;
}

.form-btn:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.form-dropdown {
  width: 30%; 
}

.form-dropdown select {
  width: 100%; 
  padding: 0.5rem;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 0.5rem;
  margin: 1rem 0;
}