.navbar {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    background-color:  rgb(10, 35, 5);
    margin: 0;
    padding: 1rem;
    z-index: 100; /* Higher than logo */
}



  .navbar-item {
    list-style-type: none;
    text-align: left;
    color: whitesmoke;
    font-family: 'Questrial', sans-serif;
    font-size: 30px;
    padding: 0px 20px
      

    
  }

  .navbar-link {
    display: inline-block;
    text-decoration: none;
    color: whitesmoke;
    font-family: "Questrial";
    letter-spacing: 1px;
    white-space: nowrap;
    
    
  }

  
  .nav-link {
  display: flex;
  font-size: 19pt;
  align-self: flex-end;
  font-weight: 600;
  margin: 0;
  text-decoration: none;
  position: relative;
  background: #353232;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  transition: all 0.2s ease;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background: #353232;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link:hover {
  transform: translateX(2px);
}