@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Rubik+Dirt&display=swap');

.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: space-between;
    background-color: #000;
    z-index: 100;
}

.navbar-logo {
    width: clamp(50px, 10vw, 100px);
    padding: 5px 50px;
    height: auto;
    
}

.navbar-links {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 0.5rem;
}

.navbar-item {
    list-style-type: none;
}

.navbar-link {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
    padding: 0.5rem 1rem;
    color: whitesmoke;
    font-family: "Questrial", sans-serif;
    font-size: 22pt;
    letter-spacing: 1px;
    white-space: nowrap;
}

.navbar-link:hover {
    color: #a3dfff;
}